<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>{{title}}</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/">Home</a></li>
        </ul>
        <h1 class="mainTitle">Blogging with Express</h1>
    </nav>
</header>
<body>
    {{{body}}}
</body>
<footer>
    <h6>Made By Oliver Liam Kelly</h6>
</footer>
</html>