<header>
    <nav>
        <ul>
            <li>Home</li>
            <li>Dashboard</li>
            <li>Login</li>
            <li>Logout</li>
        </ul>
        <h1>Blogging with Express</h1>
    </nav>
</header>
<body>
    <article>
        <h3>Example Article</h3>
        <h5>Posted by Example on ex/am/ples</h5>
        <p>Example article text would go here</p>
    </article>
</body>
<footer>
    <h6>Made By Oliver Liam Kelly</h6>
</footer>