<main>
    <div class="logInOutBox">
        <h2>Login</h2>
        <div class="loginForm">
            <form method="POST" action="/login">
                <div class="formElement field">
                    <label class="label" for="Email" class="form-label">Username:</label>
                    <input name="email" type="email" class="form-control" id="Email" placeholder="Enter your Username">
                </div>
                <div class="formElement field">
                    <label class="label" for="Password" class="form-label">Password:</label>
                    <input name="password" type="password" class="form-control" id="Password" placeholder=" Enter Password">
                </div>
                <div class="formElement">
                    <button type="submit" class="btn btn-info">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>